body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: radial-gradient(circle, #216bf5, #ffffff);
    overflow: auto; /* Changed from hidden to auto */
}

svg {
    width: 400px;
    height: 400px;
    transition: transform 0.5s ease-out;
}

.zevi1 svg {
    width: 840px; /* Example of different behavior */
    height: 840px; /* Example of different behavior */
    transition: transform 1s ease-in-out; /* Example of different behavior */
}

path {
    stroke: #ff00ff;
    stroke-width: 5;
    fill: none;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear infinite alternate, glow 5s ease-in-out infinite alternate;
}

@keyframes draw {
    from { stroke-dashoffset: 100; }
    to { stroke-dashoffset: 0; }
}

@keyframes glow {
    from { stroke: #ff00ff; }
    to { stroke: #000000; }
}

@keyframes scatter {
    0% { transform: scale(1); }
    50% { transform: scale(1.2) translate(10px, 10px); }
    100% { transform: scale(1); }
}

path {
    stroke: #ff00ff;
    stroke-width: 15;
    fill: none;
    stroke-dasharray: 2000; /* הגדלת הערך כדי למנוע חיתוך */
    stroke-dashoffset: 2000; /* התאמה לאורך הנתיב */
    animation: draw 5s linear infinite alternate, glow 5s ease-in-out infinite alternate;
}

@keyframes draw {
    from { stroke-dashoffset: 2000; } /* מתאים לאורך ה- path */
    to { stroke-dashoffset: 0; }
}


.zevi2{
    /* background: rgba(192, 192, 192, 0.415); */
    border-radius: 25%;
    padding: 10px;
    width: 450px;
    /* border: 2px solid ; */
    align-items: center;
}